{% extends "app/layout.html" %}
<!-- static -->
{% load static %}
<!-- title -->
{% block title %} <title>Leave Form Detail</title> {% endblock %}
<!-- content -->
{% block content %}
<div class="col-md-10 ml-auto mr-auto">
  <div id="leaveform-detail-content">
    <h1>{{object.leaveFromDate}} - {{object.leaveTillDate}}</h1>
    <h5>Ask by : {{object.student.first_name}} {{object.student.last_name}}</h5>
    <h5>Ask on : {{object.date_created}}</h5>

    <h5 style="text-align: justify" class="mt-5">{{object.leaveReason}}</h5>
    <div class="text-right mt-5">
      <a
        href="{% url 'class_detail' object.studentClass.id %}"
        class="btn btn-info btn-lg py-2 text-capitalize"
        id="back-from-leaveform-detail-btn"
      >
        Back
      </a>
      {% if user.is_student %}
      <button
        type="button"
        class="btn btn-primary btn-lg py-2 text-capitalize"
        id="edit-leave-form-btn"
      >
        Edit
      </button>
      {% endif %}
    </div>
  </div>

  <!-- Edit Detail Card -->
  {% if user.is_student %}
  <div class="card col-md-12 ml-auto mr-auto" id="edit-leaveform-detail-card">
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 pl-5 md-form">
            {{form.leaveFromDate}}
            <label for="" class="ml-5">Leave From Date</label>
          </div>
          <div class="col-md-6 pr-5 md-form">
            {{form.leaveTillDate}}
            <label for="" class="ml-4">Leave Till Date</label>
          </div>
        </div>
        <div class="col-md-12 md-form px-4">
          {{form.leaveReason}}
          <label for="" class="ml-4">Leave Reason</label>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-info btn-lg py-2">Update</button>
          <button type="button" class="btn btn-primary btn-lg py-2 mr-4" id="close-edit-leaveform-btn">Close</button>
        </div>
      </form>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

<!-- javascript -->
{% block javascript %}
<script>
  $("#edit-leaveform-detail-card").hide();
  $("#edit-leave-form-btn").click(function() {
    $("#leaveform-detail-content").slideUp();
    $("#edit-leaveform-detail-card").slideDown();
  });
  $("#close-edit-leaveform-btn").click(function() {
    $("#edit-leaveform-detail-card").slideUp();
    $("#leaveform-detail-content").slideDown();
  });
</script>
{% endblock %}