{% extends "app/layout.html" %}
<!-- static -->
{% load static %}
<!-- title -->
{% block title %}
<title>Home</title>
{% endblock %}

<!-- content -->
{% block content %}

<!--  -->
<!-- User Choose Department Modal-->
<div
  class="modal fade"
  id="fill-department-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="edit-info-label"
  aria-hidden="true"
  data-backdrop="false"
>
  <div
    class="modal-dialog modal-lg modal-dialog-centered modal-notify modal-info"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-500 white-text" id="edit-info-label">
          Please choose department and year to Continue !
        </h4>
      </div>
      <form
        action="{% url 'update_user' user.id %}"
        method="POST"
        id="fill-department-form"
      >
        {% csrf_token %}
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4 md-form">
              {{eForm.email}}
              <label for="" class="ml-3">Email Address</label>
            </div>
            <div class="col-md-4 md-form">
              {{eForm.first_name}}
              <label for="" class="ml-3">First Name</label>
            </div>
            <div class="col-md-4 md-form">
              {{eForm.last_name}}
              <label for="" class="ml-3">Last Name</label>
            </div>
            <div class="col-md-4 md-form">
              {{eForm.date_of_birth}}
              <label for="" class="ml-3">Date of Birth</label>
            </div>
            <div class="col-md-4 md-form">
              {{eForm.phone}}
              <label for="" class="ml-3">Phone Number</label>
            </div>
            <div class="col-md-4">
              <label for="" class="ml-3">Gender</label>
              {{eForm.gender}}
            </div>
            {% if user.is_teacher %}
            <div class="col-md-4">
              <label for="" class="ml-3">Teacher Type</label>
              {{eForm.teacher_type}}
            </div>
            {% endif %}
            <!-- student id -->
            {% if user.is_student %}
            <div class="col-md-4 md-form">
              {{eForm.student_id}}
              <label for="" class="ml-3">Student ID</label>
            </div>
            {% endif %}
            <div class="col-md-4">
              <label for="" class="ml-3">Department </label>
              <div class="row" id="t-department-check">
                {% for department in eForm.department %}
                <h6 class="ml-1">{{department}}</h6>
                {% endfor %}
              </div>
              <small id="fill-department-error"></small>
            </div>
            <div class="col-md-4">
              <label for="" class="ml-3">Year </label>
              <div class="row" id="t-year-check">
                {% for year in eForm.years %}
                <h6 class="ml-2">{{year}}</h6>
                {% endfor %}
              </div>
              <small id="fill-years-error"></small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            id="edit-info-btn"
            class="btn btn-info btn-sm text-capitalize"
          >
            Done
          </button>
          <button
            type="button"
            id="fill-department-close-btn"
            class="btn btn-outline-info btn-sm text-capitalize"
          >
            Back
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--  -->
<!-- Create Class Modal -->
<div
  class="modal fade"
  id="create-class-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="edit-info-label"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-side modal-top-right modal-notify modal-info"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-500 white-text" id="edit-info-label">
          Create Class
        </h4>
        <button
          type="button"
          class="close white-text"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="{% url 'create_class' %}"
        method="POST"
        id="create-class-form"
      >
        {% csrf_token %}
        <div class="modal-body">
          <div class="col-md-12 px-1 md-form">
            {{cForm.subject}}
            <label for="" class="ml-3">Subject</label>
            <small id="cc-error-subject"></small>
          </div>
          <div class="col-md-12 px-1 mt-4">
            <label for="" class="ml-3">Department</label>
            {{cForm.department}}
            <small id="cc-error-department"></small>
          </div>
          <div class="col-md-12 px-1 mt-4">
            <label for="" class="ml-3">Years</label>
            {{cForm.years}}
            <small id="cc-error-years"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            id="create-class-modal-btn"
            class="btn btn-info btn-sm text-capitalize"
          >
            Create
          </button>
          <button
            type="button"
            class="btn btn-outline-info btn-sm text-capitalize"
            data-dismiss="modal"
            id="close-class-modal"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--  -->
<!-- Teacher Content -->
{% if user.is_teacher %}
<div class="row">
  <div class="col-md-9">
    <div class="row" id="allClasses-div">
      {% for class in allClasses %}
      <a
        href="{% url 'class_detail' class.id %}"
        class="btn btn-secondary ml-auto mr-auto text-capitalize col-md-5 mt-3 mb-3 btn-lg z-depth-2"
      >
        <h3 class="mt-1">{{class.subject}}</h3>
        <p class="mb-auto">{{class.department}} - {{class.years}}</p>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-3">
    <div class="card col-md-12 ml-auto mr-auto">
      <button
        class="btn btn-outline-info btn-lg py-2 px-2 ml-auto mr-auto mt-2 mb-2 col-md-12 text-capitalize"
        id="create-class-btn"
        data-target="#create-class-modal"
        data-toggle="modal"
      >
        Create Class
      </button>
    </div>

    <div class="card col-md-12 ml-auto mr-auto mt-4">
      <div class="card-body px-0">
        <h5 class="text-center">All Class's codes</h5>
        {% for code in allClasses %}
        <h6 style="text-align: left" class="mt-3">
          {{code.subject}} - {{code.random_code}}
        </h6>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- End Teacher -->

<!--  -->
<!-- Student Content -->
{% if user.is_student %}
<div class="row">
  <div class="col-md-9">
    <div class="row" id="allClasses-div">
      {% for class in allClasses %}
      <a
        href="{% url 'class_detail' class.id %}"
        class="btn btn-secondary ml-auto mr-auto text-capitalize col-md-5 mt-3 mb-3 btn-lg z-depth-2"
      >
        <h3 class="mt-1">{{class.subject}}</h3>
        <p class="mb-auto">{{class.department}} - {{class.years}}</p>
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-3">
    <!-- Join class Card -->
    <div class="card col-md-12 ml-auto mr-auto">
      <div class="card-body">
        <h5 class="text-center">Class's code</h5>
        <form
          action="{% url 'join_class' %}"
          method="POST"
          id="join-class-form"
        >
          {% csrf_token %}
          <div class="col-md-12 md-form px-0">
            {{ecForm.code}}
            <label class="ml-3" for="">Enter Code</label>
            <small id="code-field-error" style="color: red;"></small>
          </div>
          <button
            class="btn btn-info btn-sm text-capitalize py-1 col-md-12 mt-0 ml-auto mr-auto"
            id="join-class-btn"
            type="submit"
          >
            Join
          </button>
        </form>
      </div>
    </div>
    <!-- All Student's classes Card -->
    <div class="card col-md-12 ml-auto mr-auto mt-4">
      <div class="card-body">
        <h5 class="text-center">All Student's classes</h5>
        {% for class in allClasses %}
        <h6 style="text-align: left" class="mt-3">
          {{class.subject}} - {{class.department}}
        </h6>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- End User -->
{% endblock %}

<!-- Ajax -->
{% block javascript %}
<script>
  $("#create-class-form").submit(function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'create_class' %}",
      data: {
        department: $("#class-department-field").val(),
        years: $("#class-years-field").val(),
        subject: $("#class-subject-field").val(),
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken").val(),
      },
      success: function (response) {
        var successResult = response["success"];
        if (successResult) {
          location.reload();
        }
      },
      error: function (response) {
        var errorResult = response["responseJSON"]["error"];
        for (var key in errorResult) {
          if (errorResult.hasOwnProperty(key)) {
            if (String(key) == "subject") {
              $("#cc-error-subject")
                .html(errorResult[key][0])
                .fadeIn()
                .delay(2000)
                .fadeOut();
            } else if (String(key) == "department") {
              $("#cc-error-department")
                .html(errorResult[key][0])
                .fadeIn()
                .delay(2000)
                .fadeOut();
            } else if (String(key) == "years") {
              $("#cc-error-years")
                .html(errorResult[key][0])
                .fadeIn()
                .delay(2000)
                .fadeOut();
            }
          }
        }
      },
    });
  });
  $("#fill-department-form").submit(function (e) {
    e.preventDefault();
    var serializedData = $(this).serialize();
    $.ajax({
      type: "POST",
      url: "{% url 'update_user' user.id %}",
      data: serializedData,
      success: function (response) {
        location.reload();
      },
      error: function (response) {
        var errorResult = response["responseJSON"]["error"];
        console.log(JSON.stringify(errorResult));
        for (var key in errorResult) {
          if (errorResult.hasOwnProperty(key)) {
            if (String(key) == "department") {
              $("#fill-department-error")
                .html(errorResult[key][0])
                .fadeIn()
                .delay(2000)
                .fadeOut();
            } else if (String(key) == "years") {
              $("#fill-years-error")
                .html(errorResult[key][0])
                .fadeIn()
                .delay(2000)
                .fadeOut();
            }
          }
        }
      },
    });
  });
  $("#edit-user-form").submit(function (e) {
    e.preventDefault();
    var serializedData = $(this).serialize();
    $.ajax({
      type: "POST",
      url: "{% url 'update_user' user.id %}",
      data: serializedData,
      success: function (response) {
        location.reload();
      },
      error: function (response) {
        var errorResult = response["responseJSON"]["error"];
        console.log(JSON.stringify(errorResult));
        for (var key in errorResult) {
          if (errorResult.hasOwnProperty(key)) {
            if (String(key) == "department") {
              $("#edit-user-department-error")
                .html(errorResult[key][0])
                .fadeIn()
                .delay(3000)
                .fadeOut();
            } else if (String(key) == "years") {
              $("#edit-user-years-error")
                .html(errorResult[key][0])
                .fadeIn()
                .delay(3000)
                .fadeOut();
            }
          }
        }
      },
    });
  });
  $("#join-class-form").submit(function (e) {
    e.preventDefault();
    var serializedData = $(this).serialize();
    $.ajax({
      type: "POST",
      url: "{% url 'join_class' %}",
      data: serializedData,
      success: function (response) {
        location.reload();
      },
      error: function (response) {
        var errorResult = response["responseJSON"]["error"];
        var alreadyInside = response["responseJSON"]["errors"];
        var notFound = response["responseJSON"]["notFound"];
        if (alreadyInside) {
          $("#code-field-error")
            .html("You are already inside the class")
            .fadeIn()
            .delay(4000)
            .fadeOut();
        } else if (notFound) {
          $("#code-field-error")
            .html("Class Not found")
            .fadeIn()
            .delay(4000)
            .fadeOut();
        } else if (errorResult) {
          console.log(JSON.stringify(errorResult));
          for (var key in errorResult) {
            if (errorResult.hasOwnProperty(key)) {
              if (String(key) == "code") {
                $("#code-field-error")
                  .html(errorResult[key][0])
                  .fadeIn()
                  .delay(4000)
                  .fadeOut();
              }
            }
          }
        }
      },
    });
  });
</script>
{% endblock %}
