{% extends "app/layout.html" %}

<!-- static -->
{% load static %}


<!-- title -->
{% block title %}<title>Home</title>{% endblock %}
<!-- title -->


<!-- content -->
{% block content %}
    <!-- User Choose Department Modal-->
    {% include "app/modal/chooseDepModal.html" with eForm=eForm %}

    <!-- Create Class Modal -->
    {% include "app/modal/createClassModal.html" with cForm=cForm %}

    <!-- Teacher Content -->
    {% if user.is_teacher %}
        {% include "app/teacher/teacherHomeContent.html" with allClasses=allClasses %}
    {% endif %}
    <!-- End Teacher -->

    <!-- Student Content -->
    {% if user.is_student %}
        {% include "app/student/studentHomeContent.html" with allClasses=allClasses ecForm=ecForm %}
    {% endif %}
    <!-- End User -->
{% endblock %}
<!-- content -->


<!-- Ajax -->
{% block javascript %}
    {% include "app/ajax/homeAjax.html" %}
{% endblock %}
<!-- Ajax -->