{% extends "app/layout.html" %}
<!-- static -->
{% load static %}
{% load crispy_forms_tags %}
<!-- title -->
{% block title %} <title>Reset Password</title> {% endblock %}
<!-- content -->
{% block content %}
<div class="col-md-10 ml-auto mr-auto">
  <h5 class="text-center" style="text-align: justify">
    Please enter your email address to request for new password
  </h5>
  <form method="POST" id="password-reset-form">
    {% csrf_token %}
    <div class="row mt-5">
      <div class="col-md-7 ml-auto">
        {{form|crispy}}
      </div>
      <div class="col-md-3 mr-auto mt-4">
        <button
          class="btn btn-info ml-1 col-md-12 text-capitalize btn-lg py-2"
          style="font-size: 17px"
          type="submit"
        >
          Send
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
