{% extends "app/layout.html" %}
<!-- static -->
{% load static %}
<!-- title -->
{% block title %} <title>Sign Up</title>{% endblock %}
<!-- content -->
{% block content %}
<div class="card col-md-10 ml-auto mr-auto">
  <div class="card-body" id="form">
    <h3 v-show="showTeacherForm" class="text-center">Sign Up as Teacher</h3>
    <h3 v-show="showStudentForm" class="text-center">Sign Up as Student</h3>
    <h3 v-show="register" class="text-center">Register</h3>
    <form
      v-show="showTeacherForm"
      action="{% url 'teacher_register' %}"
      method="POST"
      id="form-teacher"
    >
      {% csrf_token %}
      <div class="row">
        <div class="md-form col-md-4">
          {{ form.email }}
          <label for="email" class="ml-3">Email Address</label>
          <small id="error-text-email"></small>
        </div>
        <div class="md-form col-md-4">
          {{ form.first_name }}
          <label for="first_name" class="ml-3">First Name</label>
          <small id="error-text-first-name"></small>
        </div>
        <div class="md-form col-md-4">
          {{ form.last_name }}
          <label for="last_name" class="ml-3">Last Name</label>
          <small id="error-text-last-name"></small>
        </div>
        <div class="md-form col-md-4">
          {{ form.password1 }}
          <label for="pasword1" class="ml-3">Password </label>
        </div>
        <div class="md-form col-md-4">
          {{ form.password2 }}
          <label for="password2" class="ml-3">Confirm Password</label>
          <small id="error-text-password"></small>
        </div>
        <div class="md-form col-md-4">
          {{ form.date_of_birth }}
          <label for="date_of_birth" class="ml-3">Date of Birth</label>
          <small id="error-text-date-of-birth"></small>
        </div>
        <div class="md-form col-md-4">
          {{ form.phone }}
          <label for="phone" class="ml-3">Phone Number</label>
          <small id="error-text-phone"></small>
        </div>
        <div class="col-md-4">
          <label class="ml-1" id="label">Gender</label>
          {{ form.gender }}
        </div>
        <div class="col-md-4">
          <label class="ml-1" id="label">Teacher Type</label>
          {{ form.teacher_type }}
        </div>
      </div>
      <div class="row">
        <button
          type="submit"
          class="btn btn-info ml-3 btn-sm py-1 mt-5"
          id="signup-btn"
        >
          Sign Up
        </button>
        <a
          href="#"
          class="mt-5 pt-1 ml-2"
          data-target="#log-in-modal"
          data-toggle="modal"
        >
          <small>already have an account? Sign In here</small>
        </a>
        <a
          href="#"
          id="label"
          type="button"
          v-on:click="studentForm()"
          class="mt-5 pt-1 ml-1"
        >
          <small>| Sign Up as Student</small>
        </a>
      </div>
    </form>
    <!-- Student form -->
    <form
      v-show="showStudentForm"
      action="{% url 'student_register' %}"
      method="POST"
      id="form-student"
    >
      {% csrf_token %}
      <div class="row">
        <div class="md-form col-md-4">
          {{ sForm.email }}
          <label for="email" class="ml-3">Email Address</label>
          <small id="s-error-text-email"></small>
        </div>
        <div class="md-form col-md-4">
          {{ sForm.first_name }}
          <label for="first_name" class="ml-3">First Name</label>
          <small id="s-error-text-first-name"></small>
        </div>
        <div class="md-form col-md-4">
          {{ sForm.last_name }}
          <label for="last_name" class="ml-3">Last Name</label>
          <small id="s-error-text-last-name"></small>
        </div>
        <div class="md-form col-md-4">
          {{ sForm.password1 }}
          <label for="pasword1" class="ml-3">Password </label>
        </div>
        <div class="md-form col-md-4">
          {{ sForm.password2 }}
          <label for="password2" class="ml-3">Confirm Password</label>
          <small id="s-error-text-password"></small>
        </div>
        <div class="md-form col-md-4">
          {{ sForm.student_id }}
          <label class="ml-3" id="label">Student ID</label>
          <small id="s-error-text-student-id"></small>
        </div>
        <div class="md-form col-md-4">
          {{ sForm.date_of_birth }}
          <label for="date_of_birth" class="ml-3">Date of Birth</label>
          <small id="s-error-text-date-of-birth"></small>
        </div>
        <div class="md-form col-md-4">
          {{ sForm.phone }}
          <label for="phone" class="ml-3">Phone Number</label>
          <small id="error-text-phone"></small>
        </div>
        <div class="col-md-4">
          <label class="ml-1" id="label">Gender</label>
          {{ sForm.gender }}
        </div>
      </div>
      <div class="row">
        <button
          type="submit"
          class="btn btn-info ml-3 btn-sm py-1 mt-4"
          id="signup-btn"
        >
          Sign Up
        </button>
        <a
          href="#"
          class="mt-4 pt-1 ml-2"
          data-target="#log-in-modal"
          data-toggle="modal"
        >
          <small>already have an account? Sign In here</small>
        </a>
        <a
          href="#"
          id="label"
          type="button"
          v-on:click="teacherForm()"
          class="mt-4 pt-1 ml-1"
        >
          <small>| Sign Up as Teacher</small>
        </a>
      </div>
    </form>
    <!-- choose Modal -->
    <div
      class="modal fade"
      id="choose-user-modal"
      tabindex="3"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
      data-backdrop="false"
    >
      <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
      <div
        class="modal-dialog modal-dialog-centered modal-notify modal-info"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title white-text" id="exampleModalLongTitle">
              Choose user type
            </h5>
          </div>
          <div class="modal-body">
            <div class="row">
              <button
                type="button"
                id="teacher-btn"
                class="btn btn-primary btn-lg ml-auto"
                v-on:click="teacherForm()"
              >
                Teacher
              </button>
              <button
                type="button"
                id="student-btn"
                class="btn btn-outline-primary btn-lg mr-auto"
                v-on:click="studentForm()"
              >
                Student
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- log in Modal -->
    <div
      class="modal fade"
      id="log-in-modal"
      tabindex="3"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
      <div
        class="modal-dialog modal-dialog-centered modal-notify modal-info"
        role="document"
      >
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title white-text" id="exampleModalLongTitle">
              Sign In
            </h5>
            <button
              type="button"
              class="close white-text"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="{% url 'login' %}" id="login-form" method="POST">
            <div class="modal-body">
              {% csrf_token %}
              <small id="suc-text"></small>
              <div class="md-form">
                {{ lForm.email }}
                <label>Email Address</label>
                <small id="l-error-text-email"
                  >{{lForm.email.errors|striptags}}</small
                >
              </div>
              <div class="md-form">
                {{ lForm.password }}
                <label>Password</label>
                <small id="l-error-text-password"
                  >{{lForm.password.errors|striptags}}</small
                >
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-outline-info ml-3 btn-sm py-1 text-capitalize"
                id="signin-btn"
              >
                Sign In
              </button>
              <button
                type="button"
                class="btn btn-info btn-sm py-1 text-capitalize"
                id="signup-btn"
                data-dismiss="modal"
              >
                Close
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
<!-- Javascript -->
{% block javascript %}
<script>
  $("#form-teacher").submit(function (e) {
    e.preventDefault();
    var serializedData = $(this).serialize();
    $.ajax({
      type: "POST",
      url: "{% url 'teacher_register' %}",
      data: serializedData,
      dataType: "json",
      success: function (response) {
        var successResult = response["success"];
        if (successResult) {
          $("#suc-text").html("Account was created successfully!");
          $("#log-in-modal").modal("show");
          $("#error-text-email").html("");
          $("#error-text-first-name").html("");
          $("#error-text-last-name").html("");
          $("#error-text-password").html("");
          $("#error-text-phone").html("");
          $("#error-text-date-of-birth").html("");
        }
      },
      error: function (response) {
        // get error response from db
        var result = response["responseJSON"]["error"];
        // loop through the error object and check for specific value
        for (var key in result) {
          if (result.hasOwnProperty(key)) {
            if (String(key) == "email") {
              $("#error-text-email")
                .html(result[key][0])
                .fadeIn()
                .delay(4000)
                .fadeOut();
            } else if (String(key) == "first_name") {
              $("#error-text-first-name")
                .html(result[key][0])
                .fadeIn()
                .delay(4000)
                .fadeOut();
            } else if (String(key) == "last_name") {
              $("#error-text-last-name")
                .html(result[key][0])
                .fadeIn()
                .delay(4000)
                .fadeOut();
            } else if (String(key) == "password2") {
              $("#error-text-password")
                .html(result[key][0])
                .fadeIn()
                .delay(4000)
                .fadeOut();
            } else if (String(key) == "phone") {
              $("#error-text-phone")
                .html(result[key][0])
                .fadeIn()
                .delay(4000)
                .fadeOut();
            } else if (String(key) == "date_of_birth") {
              $("#error-text-date-of-birth")
                .html(result[key][0])
                .fadeIn()
                .delay(4000)
                .fadeOut();
            }
          }
        }
      },
    });
  });
  $("#form-student").submit(function (e) {
    e.preventDefault();
    var serializedData = $(this).serialize();
    $.ajax({
      type: "POST",
      url: "{% url 'student_register' %}",
      data: serializedData,
      dataType: "json",
      success: function (response) {
        var suc_result = response["success"];
        if (suc_result) {
          $("#suc-text").html("Account was created successfully!");
          $("#log-in-modal").modal("show");
          $("#s-error-text-email").html("");
          $("#s-error-text-first-name").html("");
          $("#s-error-text-last-name").html("");
          $("#s-error-text-password").html("");
          $("#s-error-text-phone").html("");
          $("#s-error-text-date-of-birth").html("");
          $("#s-error-text-student-id").html("");
        }
      },
      error: function (response) {
        // get error response from db
        var result = response["responseJSON"]["error"];
        // loop through the error object and check for specific value
        for (var key in result) {
          if (result.hasOwnProperty(key)) {
            if (String(key) == "email") {
              $("#s-error-text-email")
                .html(result[key][0])
                .fadeIn()
                .delay(3000)
                .fadeOut();
            } else if (String(key) == "first_name") {
              $("#s-error-text-first-name")
                .html(result[key][0])
                .fadeIn()
                .delay(3000)
                .fadeOut();
            } else if (String(key) == "last_name") {
              $("#s-error-text-last-name")
                .html(result[key][0])
                .fadeIn()
                .delay(3000)
                .fadeOut();
            } else if (String(key) == "password2") {
              $("#s-error-text-password")
                .html(result[key][0])
                .fadeIn()
                .delay(3000)
                .fadeOut();
            } else if (String(key) == "phone") {
              $("#s-error-text-phone")
                .html(result[key][0])
                .fadeIn()
                .delay(3000)
                .fadeOut();
              $("#s-error-text-date-of-birth")
                .html(result[key][0])
                .fadeIn()
                .delay(3000)
                .fadeOut();
            } else if (String(key) == "student_id") {
              $("#s-error-text-student-id")
                .html(result[key][0])
                .fadeIn()
                .delay(3000)
                .fadeOut();
            }
          }
        }
      },
    });
  });
</script>
{% endblock %}
