{% extends "app/layout.html" %}

<!-- static -->
{% load static %}


<!-- title -->
{% block title %} <title>Sign Up</title>{% endblock %}


<!-- content -->
{% block content %}
<div class="card col-md-10 ml-auto mr-auto">
  <div class="card-body" id="form">
    <h3 v-show="showTeacherForm" class="text-center">Sign Up as Teacher</h3>
    <h3 v-show="showStudentForm" class="text-center">Sign Up as Student</h3>
    <h3 v-show="register" class="text-center">Register</h3>

    <!-- Teacher Register Form -->
    {% include "app/teacher/teacherRegisterForm.html" with form=form %}
    <!-- Teacher Register Form -->

    <!-- Student Register Form -->
    {% include "app/student/studentRegisterForm.html" with sForm=sForm %}
    <!-- Student Register Form -->

    <!-- choose User Type Modal -->
    {% include "app/modal/chooseUserTypeModal.html" %}
    <!-- Choose User Type Modal -->

    <!-- log in Modal -->
    {% include "app/modal/loginModal.html" with lForm=lForm %}
    <!-- log in Modal -->
  </div>
</div>
{% endblock %}


<!-- Javascript -->
{% block javascript %}
    {% include "app/ajax/registerAjax.html" %}
{% endblock %}
<!-- Javascript -->